.Explore-Numbers {
    background-image: url(/Fon/FonExplore.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
  }


.explore-title {
  font-family: var(--font-family);
font-weight: 700;
font-size: 40px;
line-height: 115%;
text-align: center;
color: var(--blue---background);
padding-top: 24px;

}

.swiper {
  padding: 23px 0;
  position: relative;
  overflow: visible;
  margin-bottom: 1050px;
}
.swiper-wrapper {
  padding-bottom: 16px;
}
.swiper-slide {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  display: block;
}

/* Стрілки */
.swiper-button-next::after,
.swiper-button-prev::after {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
font-size: 22px;
font-weight: bold;
  transition: all 0.3s ease;
  top: 50%; 
  transform: translateY(-50%);
  z-index: 10;
}
/* Винесення стрілок за межі */
.swiper-button-prev {
  left: -26px;
}

.swiper-button-next {
  right: -26px;
}

/* Крапки */
.swiper-pagination-bullet {
  border-radius: 100%;
  background-color: var(--grey-reduced);
  width: 17px;
  height: 17px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  border-radius: 60px;
  width: 43px;
  height: 16px;
  background: var(--main-red);
}

.explore-bottom-full-bg {
  background: #020c21;
  opacity: 0.9;
  padding: 0 30px;
}
.explore-bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.explore-subtitle {
  font-family: var(--font-family);
font-weight: 700;
font-size: 40px;
line-height: 115%;
text-align: center;
color: var(--white);
padding-top: 72px;
padding-bottom: 57px;

}

.explore-text, .explore-item-text {
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.03em;
text-align: center;
color: var(--text-lighten);
}

.explore-text {
  padding-bottom: 50px;
}

.explore-item-title {
  font-family: var(--font-family);
font-weight: 700;
font-size: 40px;
line-height: 115%;
text-align: center;
color: var(--main-red);
padding-bottom: 4px;
}

.explore-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
 margin-bottom: 70px;
}






@media screen and (min-width: 768px) {
  
.explore-title {
  padding-top: 127px;
  font-size: 50px;
line-height: 150%;
}

.swiper-wrapper-container {
  overflow: hidden;
  position: relative;
  padding: 0 25px;
}


.swiper-button-next::after,
.swiper-button-prev::after {

font-size: 35px;
font-weight: bold;
}

.swiper-button-prev {
  left: -30px;
}

.swiper-button-next {
  right: -30px;
}

.swiper {
  margin-bottom: 850px;
}
.swiper-wrapper {
  padding-bottom: 40px;
}

.explore-subtitle {
  padding-top: 201px;
font-size: 60px;
line-height: 150%;
}

.explore-title-content {
display: flex;
flex-direction: column;
justify-content: center;
}
.explore-text {
font-size: 18px;
line-height: 156%;
padding-bottom: 50px;
width: 448px;
text-align: center;
margin: 0 auto;
}
.explore-item-text {
  font-size: 18px;
  line-height: 156%;

  }


.explore-item-title {
font-size: 42px;
line-height: 117%;
letter-spacing: 0.01em;
}

.explore-list {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 50px;
  margin-bottom: 240px;
}

}