.hero-content {
  display: flex;
  flex-direction: column;
}

.hero-btn-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero-title {
  font-family: var(--second-family);
font-weight: 900;
font-size: 48px;
width: 100%;
text-transform: uppercase;
color: var(--white);
padding-bottom: 8px;
}

.hero-btn {
  border-radius: 108px;
padding: 10px;
background: var(--main-red);
font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
line-height: 150%;
text-align: center;
color: rgba(255, 255, 255, 0.8);
border: none;
margin-bottom: 54px;
}

.hero-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  border: 1px solid #000;
  background: #000;
 opacity: 0.8;
  padding: 35px 71px 30px 32px;

}

.hero-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.hero-item-span {
  font-family: var(--second-family);
font-weight: 900;
font-size: 16px;
text-transform: uppercase;
color: var(--main-red);
}

.hero-item-title {
  font-family: var(--font-family);
font-weight: 700;
font-size: 26px;
line-height: 156%;
color: var(--white);

}

.hero-item-text {
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.03em;
color: #939393;
}

.hero-video {
  position: relative;

}


.hero-video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 58px;
  height: 59px;
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-video-btn:hover {
  transform: translate(-50%, -50%) scale(1.2); 
}

.hero-video-btn svg {
  width: 16px;
  height: 20px;
}


@media screen and (min-width: 768px)  {
  .hero-title {
font-size: 120px;
line-height: 108%;
padding-bottom: 21px;
  }

  .hero-btn {
    border-radius: 211px;
padding: 20px;
width: 271px;
margin-bottom: 241px;
  }

  .hero-list {
    display: flex;
    flex-direction: row;
    padding: 41px 128px 50px 71px;
  }
  .hero-item {
    gap: 2px;
  }

  .hero-content-right {
    display: flex;
  }
  .header-background-image {
    padding-bottom: 0;
  }

  .hero-video {
    width: 417px;
    height: 254px;
  }

  .video-preview {
    width: 417px;
    height: 254px;
  }
  
  .hero-item-title {
    font-family: var(--font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 156%;
  color: var(--white);
  }
  
  .hero-item-text {
font-size: 18px;
line-height: 156%;
  }
  
}





