.Map {
  background: var(--white);
  background-image: url('/Fon/Mapleft-min.png'), url('/Fon/MapRight-min.png');
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-size: 200px, 900px; 
  position: relative;
 
}



.map-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 171px;
  padding-bottom: 116px;
}

.map-title {
  font-family: var(--font-family);
font-weight: 700;
font-size: 40px;
line-height: 115%;
text-align: center;
color: #000;
padding-bottom: 36px;
}

.map-text {
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.03em;
text-align: center;
color: var(--paragraph-dark);
padding-bottom: 41px;
}

.map-btn-content {
  display: flex;
  justify-content: center;
}
.map-btn {
  background: var(--main-red);
  border-radius: 122px;
padding: 16px 24px;
width: 314px;
font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
line-height: 150%;
text-align: center;
color: var(--white);
border: none;
}



@media screen and (min-width: 768px) {

  .Map {
    background-size: 500px, 1950px; 
  }
  .map-content {
    gap: 30px;
margin: 0 auto;
    width: 520px;
    padding-top: 248px;
    padding-bottom: 238px;
  }
  
  .map-title {
font-size: 42px;
line-height: 119%;
  }
  
  .map-text {
font-size: 18px;
line-height: 156%;
  }
 
  .map-btn {
width: 210px;
  }
  
}