.Video {
  background-image: linear-gradient(rgba(1, 10, 32, 0.7), rgba(1, 10, 32, 0.7)), url(/Fon/FonVideo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .video-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.video-title {
  padding-top: 83px;
  font-family: var(--font-family);
font-weight: 700;
font-size: 40px;
line-height: 115%;
text-align: center;
color: var(--white);
margin-bottom: 112px;
}
.video-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-bottom: 45px;
}
.video-item-title {
  font-family: var(--font-family);
font-weight: 700;
font-size: 22px;
line-height: 150%;
text-align: center;
color: var(--white);
}
.video-item-text {
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.03em;
color: var(--white);
opacity: 0.7;
}
.video-preview {
  margin-bottom: 40px;
}
.video-thumbnail {
  width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  height: 233px;
}



@media screen and (min-width: 768px) {
.video-title {
  padding-top: 141px;
margin-bottom: 67px;
font-size: 42px;
line-height: 119%;
}
.video-item-title {
font-size: 18px;
}
.video-item-text {
font-size: 18px;
line-height: 156%;
}


.video-list {
  flex-direction: row;
  margin-bottom: 250px;
  gap: 75px;
  padding-bottom: 0;
}

.video-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 41px;
}

.video-item-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; 
  text-align: left;      
}

.video-preview {
  margin: 0 auto;
}

}