
.scroll-to-top {
  position: absolute;
top: -30px;
  left: 50%;      
  transform: translateX(-50%);
  width: 104px;
  height: 104px;
  border: none;
  border-radius: 100%;
  background-color: var(--main-red);
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2);
  fill: white;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.scroll-to-top:hover {
  background-color: #1e2a4a;
  transform: translateX(-50%) translateY(-3px); 
}
